 
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .example-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    height: 400px;
  }

  .example-card img{
    max-height: 250px;
    width: 100%;
  }
  
  .example-card-content{
    display: flex;
    flex-direction: column;

  }