<!-- Card -->
<br><br>
<div class="section">
  <div class="card">
    <div class="card-body">
      <h2 class="text-center mt-1 mb-4">{{'LOGIN.TITLE' | translate}}</h2>

      <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm.value)">
        <label for="email" class="label-control">{{'LOGIN.LABELS.EMAIL' | translate}}:</label>
        <input autocomplete type="text" placeholder="{{'LOGIN.PLACEHOLDER.EMAIL' | translate}}" formControlName="email" class="form-control"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

        <div *ngIf="email.invalid && email.touched">
          <div *ngIf="email.errors && email.errors.required">
            {{'LOGIN.ERRORS.EMAIL_REQ' | translate}}
          </div>
          <div *ngIf="email.errors && email.errors.pattern ">
            {{'LOGIN.ERRORS.EMAIL_INVALID' | translate}}
          </div>

        </div>

        <br>
        <div class="form-group">
          <label for="password" class="label-control">{{'LOGIN.LABELS.PSW' | translate}}:</label>
          <input autocomplete type="password" placeholder="{{'LOGIN.PLACEHOLDER.PSW' | translate}}" formControlName="password"
            class="form-control">
          <div *ngIf="password.invalid && password.touched">
            <div *ngIf="password.errors && password.errors.required">
              {{'LOGIN.ERRORS.PSW_REQ' | translate}}
            </div>
            <div *ngIf="password.errors && password.errors.minlength">
              {{'LOGIN.ERRORS.PSW_INVALID' | translate}}
            </div>
          </div>
        </div>
        <br><br><br>
        <br>
        <div class="text-center pb-2">

          <button type="submit" class="btn btn-primary mb-4" [disabled]="! loginForm.valid">{{'LOGIN.BUTTONS.LOGIN' | translate}}</button>
        </div>
      </form>


      <div class="text-center pb-2">
        <!-- <p>{{'LOGIN.LABELS.NOT_MEMBER' | translate}} <a href="">{{'LOGIN.LABELS.REGISTER' | translate}}</a></p> -->

        <p>{{'LOGIN.LABELS.SIGNIN' | translate}}:</p>

        <a type="button" class="btn-floating btn-fb btn-sm mr-1">
          <em class="fab fa-facebook-f"></em>
        </a>
        <a type="button" class="btn-floating btn-tw btn-sm mr-1">
          <em class="fab fa-twitter"></em>
        </a>
        <a type="button" class="btn-floating btn-li btn-sm mr-1">
          <em class="fab fa-linkedin-in"></em>
        </a>
        <a type="button" class="btn-floating btn-git btn-sm">
          <em class="fab fa-github"></em>
        </a>

      </div>

    </div>
  </div>
</div>
<!-- Card -->